node_modules/
.expo/
.git/
.vscode/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/android/
/ios/
**/.expo/*
patches_DISABLED/
tmp_uploads/
videos/
**/*.mp4
**/*.mov
**/*.avi
testimages/
testvideos/
coverage/
.nyc_output/ 